<!-- lib/smartcookie_web/controllers/question_html/quiz.html.heex -->
<.form for={%{}} action={~p"/submit"} method="post">
<div class="max-w-2xl mx-auto p-6 mb-5">
  <div class="space-y-4 quiz-container">
    
    <%= for {question, i} <- Enum.with_index(@questions) do %>
    <div class="question border p-3 mb-3 rounded">
      <p><strong><%= i+1 %>) <%= question.question %></strong></p>
      <%= for {option, index} <- Enum.with_index(question.options) do %>
      <div class="form-check">
        <input
          class="btn-check"
          type="radio"
          name={"question_#{question.id}"}
          id={"question_#{question.id}_option_#{index}"}
          value={index}
          onchange="updateProgressBar()"
        />
        <label
          class="form-check-label btn btn-outline-primary w-100 text-start py-2"
          for={"question_#{question.id}_option_#{index}"}
        >
          <strong><%= <<65 + index>> %></strong>: <%= option %>
        </label>
      </div>
      <% end %>
    
    </div>
    <% end %>
  </div>
</div>
<div class="my-5">
  .
</div>


<div id="sticky-footer" class="row bg-light border-top px-5 mt-3">
  <progress id="progress" max={length(@questions)} value="0"></progress>
  <button type="submit" id="submit-button" class="mb-3 btn btn-primary col-12">
    Submit
  </button>
</div>
</.form>

<script>
  function updateProgressBar() {
    let count = 0;

    document.querySelectorAll('input[type="radio"]:checked').forEach(input => {
      count++;
    });

    const progressBar = document.getElementById("progress");
    progressBar.setAttribute("value", count);
  }
</script>
