<!-- lib/smartcookie_web/components/layouts/app.html.heex -->
<nav class="navbar navbar-expand navbar-light">
  <div class="d-flex justify-content-start">
    <.link class="nav-link me-3 fw-bold" href={~p"/quiz"}>Quiz</.link>
    <.link class="nav-link me-3" href="daily.html">Flashcards</.link>
    <.link class="nav-link" href="history.html">History</.link>
  </div>
</nav>

<main>
  <div class="container-md">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>